@rendermode InteractiveServer
@inject UsuarioService UsuarioService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<h3>Gestion de Usuarios</h3>
<Card Class="card mb-3">
    <CardBody>
        <CardTitle>Lista de CLientes</CardTitle>
        <CardSubTitle Class="mb-2 text-muted">Lista de Usuarios del Sistema</CardSubTitle>
        @if (UsuarioService.ObtenerUsuarios() == null || !UsuarioService.ObtenerUsuarios().Any())
        {
            <div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
                <h2>No hay Datos</h2>
            </div>
        }
        else
        {
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Documento</th>
                            <th>Correo Electronico</th>
                            <th>Edad</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in UsuarioService.ObtenerUsuarios())
                        {
                            <tr>
                                <td>@usuario.IdUsuario</td>
                                <td>@usuario.NombreUsuario</td>
                                <td>@usuario.ApellidoUsuario</td>
                                <td>@usuario.DocumentoUsuario</td>
                                <td>@usuario.CorreoElectronicoUsuario</td>
                                <td>@usuario.EdadUsuario</td>
                                <td>@usuario.FechaNacimientoUsuario</td>
                                <td>
                                    <button class="btn btn-warning btn-sm" @onclick="() => EditarUsuario(usuario)">Edit</button>
                                    <button class="btn btn-danger btn-sm" @onclick="() => EliminarUsuario(usuario.IdUsuario)">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </CardBody>
</Card>

@code {
    #region Variables Globales
    UsuarioModel GetUsuario = new UsuarioModel();
    bool isEditing = false;
    #endregion

    #region Notificacion Toast
    List<ToastMessage> Avisos = new List<ToastMessage>();
    private void ShowMessage(ToastType toastType, string message) => Avisos.Add(CreateToastMessage(toastType, message));
    private ToastMessage CreateToastMessage(ToastType toastType, string message)
    => new ToastMessage
        {
            Type = toastType,
            Message = message,
        };
    #endregion

    private List<UsuarioModel> usuarios;

    protected override void OnInitialized()
    {
        usuarios = UsuarioService.ObtenerUsuarios();
    }

    private void EditarUsuario(UsuarioModel usuario)
    {

        GetUsuario = usuario;
        isEditing = true;
    }

    private void EliminarUsuario(int idUsuario)
    {
        try
        {
            UsuarioService.EliminarUsuario(idUsuario);
            usuarios = UsuarioService.ObtenerUsuarios(); // Actualizar la lista de usuarios
            ShowMessage(ToastType.Success, "Usuario agregado exitosamente.");
        }
        catch (Exception ex)
        {
            // Manejo de errores
            Console.WriteLine($"Error al eliminar usuario: {ex.Message}");
        }
    }
    

    private void LimpiarFormulario()
    {
        GetUsuario = new UsuarioModel
            {
                FechaNacimientoUsuario = DateOnly.FromDateTime(DateTime.Now)
            };
        StateHasChanged();
    }
}